<div class="kb-facet-filter-block">
  <div class="facet-search hidden-xs hidden-sm" ng-if="c.showQuery || c.items.length >c.options.min_result_count">
    <input ng-keyup="c.enableSearch = true" name="facet-search" aria-label="${Filter} {{c.options.title}}" ng-model="c.query" type="text" class="form-control" placeholder="${Filter}" aria-invalid="false">
  </div>
  <div class="facet-detail facet-scroll" ng-if="c.items">
    <div class="hidden-xs hidden-sm">
      <div  class="facet-field-padding" ng-repeat="item in c.filteredItems = (c.items | filter: (!c.disableFilter || '') && {'label':c.query}  | orderBy:c.orderby)">
        <span ng-if="item.id">
          <a href="javascript:void(0);" ng-click="c.rowClick(item)" ng-class="item.selected ? 'active' : ''">{{item.label}}</a>
        </span>
      </div>
    </div>
    <div class="visible-sm visible-xs">
      <div class="facet-field-padding" ng-click="c.rowClick(item)"  ng-repeat="item in c.filteredItems = (c.items | filter:{'label':c.query}  | orderBy:c.orderby)" ng-if="$index+1<=c.showRange">
        <span ng-if="item.id">
          <a href="javascript:void(0);" ng-class="item.selected ? 'active' : ''">{{item.label}}</a>
          <span class="check-icon" ng-show="item.selected">
            <i class="fa fa-check float-left"  aria-hidden="true"></i>
          </span>
        </span>
      </div>
      <span ng-if="c.items.length > c.options.min_scroll_count">
        <span class="show-more"  ng-show="c.showRange == c.options.min_scroll_count" ng-click="c.showRange = c.items.length">${Show More}</span>
        <span class="show-more"  ng-show="c.showRange != c.options.min_scroll_count" ng-click="c.showRange = c.options.min_scroll_count">${Show Less}</span> 
      </span>
    </div>
  </div>
</div>