<div class="kb-facet-filter-block">
 <div class="facet-detail" ng-class="{'facet-scroll':c.items.length > c.options.min_scroll_count}" ng-if="c.items">
    <div class="hidden-xs hidden-sm">
      <div  class="facet-field-padding" ng-repeat="item in c.items">
        <span ng-if="item.id">
          <button 
             ng-click="c.rowClick(item)"
             class="transparent-button link-color no-padding"
             ng-class="item.selected ? 'active' : ''"
             aria-pressed="{{item.selected}}">
            {{item.label}}
          </button>
        </span>
      </div>
    </div>
    <div class="visible-sm visible-xs">
      <div class="facet-field-padding" ng-click="c.rowClick(item)"  ng-repeat="item in c.items" ng-if="$index+1<=c.showRange">
        <span ng-if="item.id">
          <a href="javascript:void(0);" ng-class="item.selected ? 'active' : ''">{{item.label}}</a>
          <span class="check-icon" ng-show="item.selected">
            <i class="fa fa-check float-left"  aria-hidden="true"></i>
          </span>
        </span>
      </div>
      <span ng-if="c.items.length >c.options.min_scroll_count">
        <span class="show-more"  ng-show="c.showRange == c.options.min_scroll_count" ng-click="c.showRange = c.items.length">${Show More}</span>
        <span class="show-more"  ng-show="c.showRange != c.options.min_scroll_count" ng-click="c.showRange = c.options.min_scroll_count">${Show Less}</span> 
      </span>
    </div>
  </div>
</div>